In [1]:
#DB without server
import sqlite3
#error management
from sqlite3 import Error
from sqlite_methods import *
#modify db

In [2]:
exchange = """CREATE TABLE IF NOT EXISTS exchange (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    abbrev varchar(32) NOT NULL,
    name varchar(255) NOT NULL,
    city varchar(255) NULL,
    country varchar(255) NULL,
    currency varchar(64) NULL,
    timezone_offset INTEGER NULL, 
    created_date INTEGER NOT NULL,
    last_updated_date INTEGER NOT NULL);"""
data_vendor = """
CREATE TABLE IF NOT EXISTS data_vendor (
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    name varchar(64) NOT NULL,
    website_url varchar(255) NULL,
    support_email varchar(255) NULL,
    created_date INTEGER NOT NULL,
    last_updated_date INTEGER NOT NULL);"""
symbol = """
CREATE TABLE IF NOT EXISTS symbol(
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    exchange_id KEY INTEGER NULL,
    ticketer varchar(32) NOT NULL,
    instrument varchar(64) NOT NULL,
    name varchar(255) NULL,
    sector varchar(255) NULL,
    industry varchar(255) NULL,
    currency varchar(32) NULL,
    created_date INTEGER NOT NULL,
    last_updated_date INTEGER NOT NULL);
"""
daily_price = """
CREATE TABLE IF NOT EXISTS daily_price(
    id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    data_vendor_id KEY INTEGER NOT NULL,
    symbol_id KEY INTEGER NOT NULL,
    price_date INTEGER NOT NULL,
    created_date INTEGER NOT NULL,
    last_updated_date INTEGER NOT NULL,
    open_price decimal(19,4) NULL,
    high_price decimal(19,4) NULL,
    low_price decimal(19,4) NULL,
    close_price decimal(19,4) NULL,
    adj_close_price decimal(19,4) NULL,
    volume BIGINT NULL);
"""

In [3]:
con = create_connection()
create_table(con,create_table_sql=exchange)
create_table(con,create_table_sql=data_vendor)
create_table(con,create_table_sql =symbol)
create_table(con,create_table_sql =daily_price)